.card-back {
    background: #1a2f42;
    transform:rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: $font;
    overflow-y: auto;

    .about-me, .formation{
        font-size:1.5rem;
    }
    .formation{
      display: block;
      margin-bottom: 10px;
    }
    .formation a{
      color: #1a2f42;
    } 
    .formation a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #1a2f42;
      transition: width .3s;
    }
    .formation a:hover::after{
       width: 40%;
    }

    .btn-link  {
        display:inline-block;
        border-radius: 10px;
        font-family: $font;
        padding: 15px;
        text-decoration: none;
        font-weight: normal;
        font-size: 1.5rem;
        color: #1a2f42;
        transition: 
        background-color 0.3s ease-out,
        color 0.3s ease-out;
    }
    .btn-link:hover {
        background-color: #1a2f42;
        color: #fff;
        transform: scale(1.2);
        transition: transform 0.3s ease-out 
    }
    .bg-fb {
        background-color: #3b5998;
      }
      .bg-inst {
        background-color: #ac2bac;
      }
      .bg-lkd {
        background-color: #0082ca;
      }
      .bg-icon{
          background-color: #000;
      }
      .btn-floating{
        width: 3rem;
        height: 3rem;
        font-size: 1.4rem;
        line-height: 2.4;
    }
    .competence{
      height: 100%;
      & ul {
        margin-top: 1.5rem;
      }
      & li{
        font-size:20px;
      }
      & p {
        font-size:20px;
      }
      & a:hover {
        color:#feae96 ;
      }
    }

} 

.card-back::-webkit-scrollbar {
  width: 1em;
}
.card-back::-webkit-scrollbar-track {
  background-color: #fff
}
.card-back::-webkit-scrollbar-thumb {
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
  border-radius:100px;
}


@keyframes border-bottom {
   from {
      border-bottom: none;
   }
   to {
    border-bottom: #1a2f42 1px solid;
   }
}