footer {
    background-color: #1a2f42;
    font-family: $font;

    .footer-container {
      padding-top:1rem;
      width: 90%;
      max-width: 1400px;
      margin: auto;
    }
    .btn-style{
      margin-left: 350px;
      color: #000;
      background-color: #fff;
      transition: 0.5s ease-out;
    }
    .btn-style:hover{
      color: #fff;
      background-color: #b31b1b;
      transition: background-color 0.4s ease-out,
      transform 0.5s ease-out; 
      transform: scale(1.2);
    }

    @media screen and (max-width:400px) {
       .btn-style{
         margin-left: 0;
         margin-top: 30px;
       }
    }
    
  }
  
footer p{
  margin: 0;
}
footer a:hover {
   color: #fff;
}


.texte-white{
    color: #fff;
  }
  

  .error-contact{
     border: 3px solid #b31b1b
  }
  