.aboutMe-container {
    display: flex;
    justify-content: center;
    align-items:center;
}

.about-me {
    height: 70vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    transition: 0.5s linear;
    cursor: grab;
}



.about-me:hover {
    box-shadow: 0 0 20px #ccc,
    0 0 40px #ccc,
    0 0 60px #ccc,
    0 0 80px #ccc,
    0 0 160px #ccc;

    transition: box-shadow 0.5s linear;
}