.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;

    h1 {
        color: #333 ;
        margin: 20px 0 ;
        padding-bottom: 20px;
        text-align: center;
        font-family: $font;
        font-size: 3rem;
    }

}